

body{
    display: flex;
    justify-content: center;
    
    
}



.heroGraphic{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808;
    background: linear-gradient(180deg, rgba(8, 8, 8, 1) 0%, rgb(255, 251, 251) 100%);
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(222, 37, 37, 0.168);
    border: 0.2px solid white;
    height: 80%;
    width: 90%;
    border-radius: 20px;
    padding: 5px 20px;
}

.fontsColorLogoText{
    color: white;
    font-size: 1.8rem;
}

#fontsDiv, #ColorDiv, #logoDiv{
    width: 100%;
    height: 20%;
    border: 3px solid black;
    border-radius: 5px;

}

#fontsDiv:hover, #ColorDiv:hover, #logoDiv:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px 1px black;
}




#logoDiv{
    display: flex;
    width: 100%;
    height: 20%;
    border-radius: 10px;
}


#whiteLogoDiv{
    background-color: white;
    width: 49%;
    height: 100%;
    
}

#blackLogoDiv{
    background-color: black;
    width: 49%;
    height: 100%;
}


#fontTextDiv, #colorTextDiv, #logoTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid black;
    width: 20%;
    height: 100%;
}

#blackLogoDiv, #whiteLogoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logoImage{
    width: 40%;
}


#ColorDiv{
    display: flex;
}



#colorBlackDiv{
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

#colorWhiteDiv{
    width: 33%;
    height: 100%;
    background-color: white;
}

#colorRedDiv{
    width: 33%;
    height: 100%;
    background-color: red;

}

.textColorWhiteDiv{
    text-align: center;
}

.textColorBlackDiv{
    color: white;
    text-align: center;
}

.textColorRedDiv{
    color: white;
    text-align: center;
}

.textColorWhiteDiv, .textColorBlackDiv, .textColorRedDiv{
    font-size: 1.1rem;
}


#fontsDiv{
    display: flex;
}


#pFontTypeDiv{
    background-color: rgba(0, 0, 0, 0.482);
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#h1FontTypeDiv{
    background-color: rgba(0, 0, 0, 0.482);
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#h2FontTypeDiv{
    background-color: rgba(0, 0, 0, 0.482);
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#h3FontTypeDiv{
    background-color: rgba(0, 0, 0, 0.482);
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}





#pTagFont{
    font-family: "ABeeZee";
    color: white;
}

#h1TagFont{
    font-family: "MarkerFelt";
    color: white;
}

#h2TagFont{
    font-family: "Montserrat";
    color: white;
}
#h3TagFont{
    font-family: "Montserrat";
    color: white;
}

.styleColorForEachTagShowcase{
    color: white;
}
