*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;

}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
}

.leftNavDiv{
    display: flex;
    align-items: center;
    width: 200px;
}

#logo{
    width: 100%;    
    margin-left: 20px;
  
}

.centerNavDiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.linkToHtml{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    transition: transform 0.2s ease;
}

.linkToHtml:hover{
    transform: scale(1.1);
}


.hero{
    display: flex;
    height: 90vh;
    position: relative;
}





#centerHeroDiv{
    background-color: #bd9c72;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.heroTitleDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#quizHeaderText{
    font-family: "Montserrat";
    color: black;
    font-size: 7rem;
}

.heroTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroText{
    width: 50%;
    font-size: 2.3rem;
}


.heroButtonsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.heroButton{
    width: 200px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    transition:  transform 0.4s ease;
}

.heroButton:hover{
    transform: scale(1.1);  
}



hr{
    border: none;
    height: 6px;
    background-color: black;
}




.videoSection{
    height: 100vh;
    background-color: blue;
    display: flex;
}





.videoSectionWallCenter{
    width: 100%;
    height: 100%;
    background-color: #bd9c72;
}




.videoDiv{
    display: flex;
    background-color: red;
}




.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 200px;
    margin-top: auto;
}


.footerText{
    font-size: 1.5rem;
}

#footerLogo{
    width: 10%;
}





@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "ABeeZee";
    src: url("../fonts/ABeeZee-Regular.ttf");
}
